/* main elements */

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Roboto', serif;
}

.container {
    min-height: 100%;
    position: relative;
}

.body {
    padding-bottom: 60px; /* Height of the footer */
}

.footer-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* content */
.title-container {
    text-align: center;
    height: 100px;
}

.title {
    margin-top: 0;
    padding-top: 50px;
    font-size: 59px;
    line-height: 1.1em;
}

.white-theme-title, section > h2 {
    color: #595959;
}

.section-container {
    margin-top: 100px;
    width: 100%;
}

section {
    padding: 0 10px 0 10px;
    margin: 0 auto;
    text-align: center;
}

section > h2 {
    font-size: 28px;
}

section > p {
    font-size: 22px;
}

.dark-theme__title-container {
    margin-top: 30px;
    padding-bottom: 60px;
}

.dark-theme-title, .dark-theme__description {
    color: #2D3449;
}

.dark-theme__description {
    font-size: 22px;
}

.card-board-container {
    margin-top: 60px;
    width: 100%;
}

.card-board {
    margin: 0 auto;
    padding: 40px;
}

.dark-calendar__card-board-container {
    padding-bottom: 50px;
}

.white-calendar__card-board {
    background-color: #fff;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.dark-calendar__card-board {
    background-color: #222838;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

/* Footer */

.footer-container {
    width: 100%;
    min-height: 75px;
}

footer {
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    margin-top: 22px;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer__text {
    padding: 5px;
    font-size: 18px;
    color: #8a8da3;
}

.footer__heart {
    opacity: .8;
    position: relative;
    width: .8em;
    height: .8em;
    color: #ff3a31;
    fill: currentColor;
}

.footer__text:hover > .footer__heart {
    animation: beat .25s infinite alternate;
    animation-iteration-count: 6;
}

@keyframes beat {
    to {
        transform: scale(1.2);
    }
}

@media screen and (max-width: 900px) {
    .card-board {
        width: 100%;
        margin-top: 60px;
        padding: 0;
    }

    .container {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .title {
        font-size: 40px;
    }
}

@media screen and (max-width: 270px) {
    .white-calendar__card-board {
        box-shadow: none;
    }

    .dark-calendar__card-board {
        box-shadow: none;
    }
}

@media screen and (min-width: 900px) {
    .card-board {
        width: 768px;
    }

    section {
        width: 600px;
    }
}