svg {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
}

.wave-container {
    position: absolute;
    z-index: -1;
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    overflow: hidden;
}

.wave-container-top {
    padding-bottom: 100%;
}

.wave-container-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 50%;
}

#white-theme-path {
    stroke: none;
    fill: #eaeaea;
}

#dark-theme-path {
    stroke: none;
    fill: #2D3449;
}

@media screen and (max-width: 1300px) {
    .wave-container-top {
        top: 100px;
    }
    .wave-top-block {
        position: absolute;
        z-index: -10;
        width: 100%;
        height: 110px;
        background-color: #eaeaea;
    }
}

@media screen and (max-width: 900px) {
    .wave-container-top, .wave-top-block {
        display: none;
    }

    .wave-container-bottom {
        bottom: 30px;
    }

    .wave-bottom-block {
        position: absolute;
        bottom: 0;
        z-index: -10;
        width: 100%;
        height: 110px;
        background-color: #2d3449;
    }
}