.calendars-sidebar__container {
    border-top: solid 2px;
    border-right: solid 1px;
}

.calendars-sidebar-scroller {
    margin-top: 15px;
    display: none;
    width: 40px;
}

.calendars-sidebar-scroller button {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    transition: all 400ms ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    width: 35px;
    height: 35px;
}

.calendars-sidebar-scroller button>img {
    height: 12px;
    width: 12px;
}

fieldset {
    border: none;
    margin: 0;
}

.calendars-sidebar__field {
    position: relative;
    margin-bottom: 16px;
}

.calendars-sidebar__field>input {
    cursor: pointer;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
}

.calendars-sidebar__field>label {
    cursor: pointer;
    padding-left: 30px;
}


/* tick symbol */

.calendars-sidebar__field>.field__input-helper:before,
.calendars-sidebar__field>.field__input-helper:after {
    position: absolute;
    content: "";
    transition: all 200ms;
}

.calendars-sidebar__field>.field__input-helper:after {
    content: '\2713';
    font-size: 13px;
    left: 5px;
    top: 0;
    color: #fff;
    transform: scale(0);
    opacity: 0;
}

.calendars-sidebar__field>input:checked+.field__input-helper:after {
    transform: scale(1);
    opacity: 1;
}


/* tick symbol square */

.calendars-sidebar__field>.field__input-helper:before {
    top: 0;
    width: 15px;
    height: 15px;
    border-radius: 2px;
    color: var(--white-theme-background);
}

.calendars-sidebar__field>input+.field__input-helper:before {
    border: 2px solid;
}


/* default-color */

.calendars-sidebar__field>input:checked+.field__input-helper:before,
.calendars-sidebar__field>input+.field__input-helper:before {
    border-color: inherit;
}

.calendars-sidebar__field>input+.field__input-helper:before,
.calendars-sidebar__field>input:checked+.field__input-helper:before {
    background-color: inherit;
}

@media screen and (max-width: 500px) {
    .calendars-sidebar__container {
        grid-area: sidebar-mobile;
        border: none;
        overflow: scroll;
        height: 100px;
        margin-top: 20px;
    }
    .calendars-sidebar__field>.field__input-helper:after {
        float: left;
    }
    .calendars-sidebar-scroller {
        grid-area: sidebar-scroller;
        display: block;
        margin-top: 42px;
    }
}

@media screen and (max-width: 420px) {
    .calendars-sidebar__container {
        height: 140px;
    }
    .calendars-sidebar-scroller {
        margin-top: 60px;
    }
}

@media screen and (max-width: 325px) {
    .calendars-sidebar-scroller {
        display: none;
    }
}

@media screen and (max-width: 270px) {
    .calendars-sidebar__container {
        height: 280px;
    }
}