.month-view__container {
    display: grid;
    grid-template-columns: repeat(7, minmax(30px, 1fr));
    grid-template-rows: .5fr repeat(6, 1fr);
    text-align: right;
    border-top: 2px solid;
    height: 598px;
}

.month-view__container>.week-day:nth-child(7) {
    border-right: 2px solid;
}

.month-view__container>.week-day {
    padding: 10px;
    font-weight: 600;
    font-size: 18px;
    border-left: 2px solid;
}

.month-view__day-box {
    border-left: 2px solid;
    border-top: 2px solid;
    display: grid;
    grid-template-rows: repeat(4, minmax(20px, 1fr));
    font-weight: 500;
    transition: all 400ms ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    overflow: hidden;
}

.month-view__day-box__title:after {
    content: attr(day-value);
    text-align: right;
    padding-right: 8px;
}

.month-view__day-box:hover {
    cursor: pointer;
}

.cell-right {
    border-right: 2px solid var(--white-theme-border);
}

.cell-bottom {
    border-bottom: 2px solid var(--white-theme-border);
}

.month-view__event {
    padding: 1px 2px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    font-size: 12px;
    border-radius: 5px;
    margin: 1px 5px 1px 0;
}

.month-view__event>span {
    width: 50px;
}

@media screen and (max-width: 500px) {
    .month-view__container>.week-day {
        font-size: 3vw;
    }
}

@media screen and (max-width: 350px) {
    .month-view__container>.week-day {
        font-size: 10px;
    }
}