.top-nav__container {
    display: grid;
    grid-template-areas: 'left-side log-in views';
    grid-template-columns: 1fr 0.6fr 1fr;
    padding: 10px;
}

.top-nav__left-side {
    grid-area: left-side;
    font-size: 20px;
    display: inline-block;
}

.top-nav__title {
    display: inline-block;
    font-weight: bold;
}

.top-nav__views {
    grid-area: views;
    justify-self: end;
    margin: auto 0;
}

.top-nav__view-btn {
    margin-top: 3px;
    float: left;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    font-weight: bold;
    transition: all 400ms ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
}

.top-nav__views .top-nav__view-btn:first-child {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.top-nav__views .top-nav__view-btn:last-child {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

#top-nav__download-btn {
    display: none;
}

.top-nav__btn {
    background-color: transparent;
    border: none;
    border-radius: 25px;
    transition: all 400ms ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    width: 35px;
    height: 35px;
}

.top-nav__btn > span {
    font-size: 20px;
}

.top-nav__arrow {
    padding: 12px;
}

.top-nav__arrow > img {
    height: 12px;
    width: 12px;
}

#top-nav__download-btn > img {
    height: 15px;
    width: 15px;
}

.top-nav__arrow-btns {
    display: inline-block;
}

.top-nav__login-container {
    grid-area: log-in;
    justify-self: center;
    margin: auto;
    display: inline-block;
}

.top-nav__login-text {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

.top-nav__google-icon {
    background: transparent;
    vertical-align: middle;
    width: 26px;
    height: 26px;
    margin: 0 5px 0 0;
    padding: 0;
}

.top-nav__login-btn {
    cursor: pointer;
    margin-top: 3px;
    float: left;
    border: none;
    padding: 5px 10px;
    font-size: 16px;
    transition: all 400ms ease-in-out;
    transition-timing-function: cubic-bezier(0.25, 0.5, 0.5, 1);
    border-radius: 10px;
}

@media screen and (max-width: 500px) {
    .top-nav__title {
        font-size: 16px;
    }

    .top-nav__container {
        grid-template-columns: 1fr;
        grid-template-areas: 'log-in' 'views' 'left-side';
    }

    .top-nav__login-container {
        justify-self: right;
        margin: 0 0 10px 0;

    }

    .top-nav__views {
        margin: 0 0 10px 0;
    }

    .top-nav__login-container > button {
        float: right;
    }

    .top-nav__left-side__wrapper {
        text-align: right;
        margin-right: 10px;
    }
}

@media screen and (max-width: 325px) {
    .top-nav__view-btn, .top-nav__login-text, .top-nav__title {
        font-size: 14px;
    }
}

@media screen and (max-width: 283px) {
    .top-nav__view-btn {
        float: right;
    }
}