.week-view__container {
    display: none;
    max-height: 600px;
    text-align: center;
}

#week-view__head {
    display: grid;
    text-align: left;
    grid-template-columns: .4fr repeat(7, minmax(30px, 1fr));
}

#week-view__body {
    display: grid;
    max-height: 500px;
    padding: 10px 0;
    margin: 10px 0;
    overflow-y: scroll;
    grid-template-columns: .4fr repeat(7, minmax(30px, 1fr));
}

#week-view__body > div,
#week-view__head > div {
    height: 50px;
    border-top: 2px solid;
    border-left: 2px solid;
}

#week-view__head > div {
    padding-left: 10px;
    margin-bottom: 10px;
    border-left: none;
}


/* Hide scrollbar */

::-webkit-scrollbar {
    width: 0;
    background: transparent;
    /* make scrollbar transparent */
}


/* Remove border for hours on left */

#week-view__body > .week-view__timeline,
#week-view__head > .week-view__timeline {
    border: none;
}

#all-day > p {
    position: relative;
}


/* Reference to day on left side only */

#week-view__body > .week-view__timeline > p {
    margin: 0;
    font-size: 14px;
    transform: translateY(-5px);
}

.week-view__event {
    position: relative;
    border-bottom: 2px solid;
    overflow: hidden;
}

.week-view__event > div {
    position: absolute;
    margin-top: 2px;
    margin-left: 2px;
    white-space: nowrap;
}

#week-view__head h5 {
    margin-bottom: 0;
    font-size: 12px;
}

#week-view__head span {
    font-size: 26px;
}

@media screen and (max-width: 500px) {
    #week-view__head div {
        padding-left: 13px;
        margin-bottom: 5px;
    }
    #week-view__head h5 {
        font-size: 3vw;
    }
    #week-view__head span {
        font-size: 4vw;
    }
    #week-view__head {
        grid-template-columns: .4fr repeat(7, minmax(30px, 1fr));
    }
    #week-view__body > .week-view__timeline > p {
        margin-left: 4px;
        font-size: 3vw;
    }
}

@media screen and (max-width: 400px) {
    #week-view__head div {
        padding-left: 13px;
        margin-bottom: 0;
    }
    #week-view__head h5 {
        font-size: 12px;
    }
    #week-view__head span {
        margin-left: 2px;

        font-size: 13px;
    }
}