* {
    /* white theme */
    --white-theme-background: #fff;
    --white-theme-font: #000;
    --white-theme-element: #fff;
    --white-theme-hover-element: #eaeaea;
    --white-theme-border: #ddd;
    --white-theme-grey-month: #c3c3c3;
    /* dark theme */
    --dark-theme-background: #222838;
    --dark-theme-font: #fff;
    --dark-theme-element: #222838;
    --dark-theme-hover-element: #2D3449;
    --dark-theme-border: #37405B;
    --dark-theme-grey-month: #6f7285;
    /* colors */
    /* yellow */
    --yellow-light: #fec10a;
    --yellow: #e0a602;
    /* orange */
    --orange-light: #fd8209;
    --orange: #cd7426;
    /* red */
    --red-light: #ff3a31;
    --red: #ee0548;
    /* purple */
    --purple-light: #be58d8;
    --purple: #ad3ec9;
    /* blue */
    --blue-light: #17aff2;
    --blue: #1c9dde;
    /* green */
    --green-light: #53d62e;
    --green: #52ac2a;
}