@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto.ttf') format("truetype");
}

.cool-calendar__container {
    font-family: 'Roboto', serif;
    display: grid;
    grid-template-areas: 'topnav topnav' 'sidebar view';
    grid-template-columns: 0.1fr 1fr;
}

.top-nav__container {
    grid-area: topnav;
}

.calendars-sidebar__container {
    grid-area: sidebar;
}

.month-view__container {
    grid-area: view;
}

.week-view__container {
    grid-area: view;
}

@media screen and (max-width: 500px) {
    .cool-calendar__container {
        grid-template-areas: 'sidebar-mobile sidebar-scroller topnav' 'view view view';
        grid-template-columns: 0.1fr 0.1fr 1fr;
    }
}