.cool-calendar__container-dark {
    background-color: var(--dark-theme-background);
    color: var(--dark-theme-font);
}

.dark-component, .dark-component > span:first-child, .dark-component > span:nth-child(7),
.dark-component > .month-view__day-box {
    border-color: var(--dark-theme-border);
}