.month-view__day-box-dark:hover {
    background-color: var(--dark-theme-hover-element);
}

.dark-component > .week-day, .dark-component > .week-day:nth-child(7)  {
    border-color: var(--dark-theme-border);
}

.cell-last-or-next-dark {
    color: var(--dark-theme-grey-month);
}