.dark-component button {
    background-color: var(--dark-theme-element);
    color: var(--dark-theme-font);
}

.dark-component button:hover {
    background-color: var(--dark-theme-hover-element);
    color: var(--dark-theme-font);
}

.dark-component > .top-nav__left-side > button {
    background-color: var(--dark-theme-element);
}

.dark-component > .top-nav__left-side > button:hover {
    background-color: var(--dark-theme-hover-element);
}