.cool-calendar__container-white {
    background-color: var(--white-theme-background);
    color: var(--white-theme-font);
}

.white-component, .white-component > span:first-child, .white-component > span:nth-child(7),
.white-component > .month-view__day-box {
    border-color: var(--white-theme-border);
}