.month-view__day-box-white:hover {
    background-color: var(--white-theme-hover-element);
}

.white-component > .week-day, .white-component > .week-day:nth-child(7)  {
    border-color: var(--white-theme-border);
}

.cell-last-or-next-white {
    color: var(--white-theme-grey-month);
}