.white-component button {
    background-color: var(--white-theme-element);
    color: var(--white-theme-font);
}

.white-component button:hover {
    background-color: var(--white-theme-hover-element);
    color: var(--white-theme-font);
}

.white-component > .top-nav__left-side > button {
    background-color: var(--white-theme-element);
}

.white-component > .top-nav__left-side > button:hover {
    background-color: var(--white-theme-hover-element);
}